body {
  background: #EEE;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg {
  display: block;
  background: #FFF;
  border: 1px solid #CCC;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: 5%;
  height: 90%;
  margin: 0 auto;
}
